* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle, #a98e9e, #a583a0, #9c7aa6, #8d73ad, #756eb6, #6076bf, #437dc6, #0084ca, #0094c8, #00a1bc, #00aba8, #3eb393);
    background-size: 300% 300%;
}

h1 {
    text-align: center;
    margin: auto;
    color: red;
    background-image: linear-gradient(to right, #1a3761, #134482, #0851a4, #025ec7, #126aeb);
}

.btn {
    background-color: whitesmoke;
    height: 50px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
    font-size: 18px;
    font-weight: 600;
    color: royalblue;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    color: rgb(65, 150, 86);
    box-shadow: 0 0 35px skyblue;
}
.btn:active {
    opacity: calc(0.8);
}

.heart {
    background-color: steelblue;
    width: 150px;
    height: 150px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
    border-radius: 0 0 10px 0;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    height: 60%;
    width: 100%;
    background-color: steelblue;
    border-radius: 75px 75px 0 0;
}
.heart:before {
    top: -59%;
}
.heart:after {
    transform: rotate(-90deg);
    right: 78%;
    top: 20%;
}